<!--<h1>Messages#index</h1>-->
<!--<p>Find me in app/views/messages/index.html.erb</p>-->

<h1>List of Messages</h1>
<% @messages.each do |message| %>
  名前:<%= message.name %>
  内容:<%= message.body %>
  <br>
<% end %>



<%= form_for(@message) do |f| %>
  Name:
  <%= f.text_field :name %>

  Contents:
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>